* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .mainPage-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        width: 80%;

        img {
            object-fit: none;
            width: 50px;
            height: 50px;
        }

        .second-description {
            display: none;
        }

        .category-choose-container {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }
}